---
const { url, title } = Astro.props;
---

<a href={url} target="_self" class="group block hover:-translate-y-0.5 transition-all duration-300">
  <h2 id={title} class="mahiro-heading group-hover:opacity-90">
    {title}
  </h2>
</a>
